<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.QuestionDao">

<!--    从数据库中查询所有存在的科目类型-->
    <select id="queryAllQuestionType" parameterType="User" resultType="String">
        select subject from question_type where acc=#{acc} and isdelete=0
    </select>

<!--    在数据库中新添加科目类型-->
    <insert id="newSubjectType" parameterType="com.pojo.QuestionType">
        insert into question_type(id,subject,acc,createriem,isdelete) values(#{id},#{subject},#{acc},#{createtime},#{isdelete})
    </insert>

<!--    在数据库中修改科目类型-->
    <update id="modifySubjectType" parameterType="map">
        update question_type set subject=#{newType} where acc=#{acc} and subject=#{oldType}
    </update>

<!--    在数据库中删除科目类型-->
    <update id="deleteSubjectType" parameterType="com.pojo.QuestionType">
        update question_type set isdelete=1 where acc=#{} and subject=#{subject}
    </update>

<!--    数据库中查询是否有重复的科目类型-->
    <select id="whetherRepeat" parameterType="com.pojo.QuestionType" resultType="com.pojo.QuestionType">
        select * from question_type where acc=#{acc} and subject=#{subject} and isdelete=0
    </select>
    
    
<!--    数据库中新建题目-->
    <insert id="createNewQuestion" parameterType="com.pojo.Question">
        insert into question_bank values(#{id},#{type},#{subject},#{stem},#{answer},#{score},#{acc},#{createtime},0)
    </insert>
</mapper>